# ============================= #
# Build generated / Build tools #
# ============================= #
BuildTarget/
BuildTools/

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj
[Bb]uild
[Ll]ibrary/
*sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*/[Ee]xported[Oo]bj/
*.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln*
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
*.DS_Store
*._*
*.cache
*.Spotlight-V100
*.Trashes
*/Icon?
*/ehthumbs.db
*[Tt]humbs.db

# ============== #
# META generated #
# ============== #
/Assets/Meta/
/Assets/MetaPackages/
/Assets/Plugins/
*/Meta.meta
*/MetaPackages.meta
*/Plugins.meta