<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.11.1" targetFramework="net35" />
  <package id="StyleCop" version="4.7.49.0" targetFramework="net35" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net35" developmentDependency="true" />
  <package id="StyleCop.StyleCop" version="2016.1.0" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
  <package id="Wave" version="5.0.0.0" targetFramework="net35" />
</packages>